
.addBook {
    padding: 5px 8px;
    background-color: #f7f4e3;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 2.5px 2.5px 10px #7a7a74;
    font-family: 'Comfortaa', cursive;
    text-align: center;
}

.searchBtn {
    padding: 5px 8px;
    background-color: #f7f4e3;
    border-radius: 5px;
    box-shadow: 2.5px 2.5px 10px #7a7a74;
    font-family: 'Comfortaa', cursive;
}